In [24]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [25]:
df_lyon = pd.read_csv('Data/Lyon/listings.csv')

In [20]:
print("Le fichier Lyon contient", df_lyon.shape[0], "lignes et", df_lyon.shape[1], "colonnes")

Le fichier Lyon contient 382187 lignes et 20 colonnes

In [21]:
df_lyon = df_lyon.drop(columns=['neighbourhood_group', 'last_review', 'number_of_reviews_ltm', 'license', 'minimum_nights', ])

In [22]:
df_lyon.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood', 'latitude',
       'longitude', 'room_type', 'price', 'number_of_reviews',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365', 'listing_id', 'date'],
      dtype='object')

In [23]:
print(df_lyon.duplicated().sum())

if(df_lyon.duplicated().sum() > 0):
    df_lyon = df_lyon.drop_duplicates()
df_lyon.head()

996

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,listing_id,date
0,831713,645 sq ft (60m²) apartment downtown lyon 2BR...,4355017,Marc,5e Arrondissement,45.75673,4.81539,Entire home/apt,72.0,54,0.38,1,309,831713,2013-01-31
1,831713,645 sq ft (60m²) apartment downtown lyon 2BR...,4355017,Marc,5e Arrondissement,45.75673,4.81539,Entire home/apt,72.0,54,0.38,1,309,831713,2013-06-23
2,831713,645 sq ft (60m²) apartment downtown lyon 2BR...,4355017,Marc,5e Arrondissement,45.75673,4.81539,Entire home/apt,72.0,54,0.38,1,309,831713,2013-09-02
3,831713,645 sq ft (60m²) apartment downtown lyon 2BR...,4355017,Marc,5e Arrondissement,45.75673,4.81539,Entire home/apt,72.0,54,0.38,1,309,831713,2013-10-01
4,831713,645 sq ft (60m²) apartment downtown lyon 2BR...,4355017,Marc,5e Arrondissement,45.75673,4.81539,Entire home/apt,72.0,54,0.38,1,309,831713,2014-01-05

In [ ]:
# import pandas as pd
# from sklearn.model_selection import train_test_split
# from sklearn.preprocessing import OneHotEncoder
# from sklearn.compose import ColumnTransformer
# from sklearn.pipeline import Pipeline
# from sklearn.ensemble import RandomForestRegressor
# from sklearn.metrics import mean_absolute_error
# from sklearn.impute import SimpleImputer

# # Charger les données
# df = pd.read_csv('votre_fichier.csv')

# # Sélectionner les colonnes utiles en excluant les identifiants, URL, et autres colonnes non pertinentes
# X = df.drop(columns=['id', 'listing_url', 'scrape_id', 'last_scraped', 'source', 'name',
#                      'description', 'neighborhood_overview', 'picture_url', 'host_id',
#                      'host_url', 'host_name', 'host_since', 'host_location', 'host_about',
#                      'host_response_time', 'host_thumbnail_url', 'host_picture_url',
#                      'host_verifications', 'license', 'amenities', 'first_review', 'last_review',
#                      'calendar_last_scraped', 'price'])

# y = df['price']

# # Identifier les colonnes numériques et catégorielles
# numeric_features = X.select_dtypes(include=['int64', 'float64']).columns
# categorical_features = X.select_dtypes(include=['object']).columns

# # Créer les transformers pour le prétraitement
# numeric_transformer = Pipeline(steps=[
#     ('imputer', SimpleImputer(strategy='median'))
# ])

# categorical_transformer = Pipeline(steps=[
#     ('imputer', SimpleImputer(strategy='constant', fill_value='missing')),
#     ('onehot', OneHotEncoder(handle_unknown='ignore'))
# ])

# # Combiner les transformers
# preprocessor = ColumnTransformer(
#     transformers=[
#         ('num', numeric_transformer, numeric_features),
#         ('cat', categorical_transformer, categorical_features)
#     ])

# # Créer le pipeline avec le modèle
# model = Pipeline(steps=[
#     ('preprocessor', preprocessor),
#     ('regressor', RandomForestRegressor())
# ])

# # Diviser les données en ensembles d'entraînement et de test
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

# # Entraîner le modèle
# model.fit(X_train, y_train)

# # Prédire et évaluer le modèle
# y_pred = model.predict(X_test)
# print("Erreur absolue moyenne :", mean_absolute_error(y_test, y_pred))